.vertical_space
{
    padding-top: 2rem;
}
.aboutImgFormat
{
    /* able to resize images when resize window */
    max-width:90%;
    /* TODO: center after resize */

    filter: drop-shadow(0px 4px 4px rgba(7, 30, 53, 0.25)); 
}

/* Fix the images on a smaller screen */
@media (max-width: 768px) {
    .aboutImgFormat {
      max-width:200%;
    }
    .imgFormat {
        max-width:200%;
    }
    .smallScreenTextShift {
        margin-left:3rem;
        margin-right:3rem;
    }
  }

.abttxt
{
    margin-left:3rem;
    margin-right:3rem;
}

.imgFormat 
{
    /* centers and shrinks image */
    max-width: 150%; /* won't center image if max-width = 100% */
    display: block;
    filter: drop-shadow(0px 4px 4px rgba(7, 30, 53, 0.25)); 

}
.preschoolFormat
{
    background-color: #50B4F2;
}
.morningFormat
{
    background-color: #F2B705;
}

.preschoolButton
{
    background: #F2B705;
    font-weight: bold;
}

.morningButton
{
    background: #50B4F2;
    font-weight: bold;
}

.teamdiv
{
    align-items: center;
    vertical-align: middle;
    opacity: 0.5;
    display: inline-block;
}

.teamlink
{
    position: absolute;
    text-decoration: underline;
    color: black;
    width:100%;
    margin-top:20rem;
    margin-bottom:20rem;
}

.teamlink:hover
{
  cursor:pointer;
} 