/*
  Page Display
*/

/* media query to give the page a set width above a certain screen width */
@media (min-width: 1441px) {
    #content-container {
        max-width: 1440px;
        margin: auto;
    }
}

body {
    overflow-x: hidden;
}

/* 
    Typography 
*/

* { 
   font-family: 'Roboto'; 
}

h1, h2, h3, p { 
    color: var(--black); 
}
h1 {
    font-size: 56px !important; 
}
h2 {
    font-size: 45px !important; 
}
h3 {
    font-size: 34px !important; 
}
p {
    font-size: 18px !important; 
}
.caption {
    font-size: 12px !important; 
}
.bold {
    font-weight: 700 !important; 
}

/* 
    Colors 
*/ 

:root { 
    --lightpink: #F9C6D7;
    --darkpink: #db4c77;
    --darkblue: #10559a;
    --lightblue: #3CA2C8;
}