/*
  Page Display
*/

/* media query to give the page a set width above a certain screen width */
@media (min-width: 1441px) {
    #content-container {
        max-width: 1440px;
        margin: auto;
    }
}

body {
    overflow-x: hidden;
}

/* 
    Typography 
*/

* { 
   font-family: 'Roboto'; 
}

h1, h2, h3, p { 
    color: var(--black); 
}
h1 {
    font-size: 56px !important; 
}
h2 {
    font-size: 45px !important; 
}
h3 {
    font-size: 34px !important; 
}
p {
    font-size: 18px !important; 
}
.caption {
    font-size: 12px !important; 
    line-height: 14px;
}
.bold {
    font-weight: 700 !important; 
}

/* 
    Colors 
*/ 

:root { 
    --lightgray: #F2F2F2;
    --darkred: #F24949;
    --lightyellow: #F2E41D;
    --darkyellow: #F2B705;
    --lightblue: #50B4F2;
}

/* 
    Buttons 
*/ 
.hands-together-button {
    border: none;
    border-radius: 10px;
    color: black;
    text-align: center;
    display:table-cell;
    vertical-align: middle;
}