input[type="radio"] { 
    background-color: rgba(196, 196, 196, 0.5);
    margin-right: 0.5rem !important;
    margin-bottom: 8px;
    height: 40px;
    width: 40px;
    vertical-align: middle;
}

.donation-text {
    margin-top: 2.5rem;
    font-weight: 400 !important; 
}

.donation-container, .form-container {
    width: 100%;
    margin-top: 2.5rem;
}

@media (max-width: 767.9px) { 
    .donation-container, .form-container { 
      margin-top: 0.5rem;
    } 
}

.donation-button-animation { 
    transition: transform .5s; 
} 

.donation-button-animation:hover { 
    transform: scale(1.025);
} 

.donation-row {
    justify-content: space-between;
    margin-bottom: 1rem;
}

.donation-box {
    box-sizing: border-box;
    border-radius: 1.5rem;
    background: #F2B705;
    text-align: center;
    height: 14.5rem;
    cursor: pointer; 
}

.donation-padding {
    padding: 2.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.donation-amount-text {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.donation-use-text {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.form-container {
    margin-top: 2.065rem;
}

.form-item {
    margin-bottom: 4rem;
}

.form-option {
    font-size: 1.5rem;
}

.form-text {
    padding-right: 3.5rem;
}

.amount-input {
    height: 5rem; 
}

.donate-button {
    background: var(--darkred);
    border: none;
    justify-content: center;
    color: white;
    border-radius: 10px;
    width: 15rem;
    height: 4.5rem;
    margin-bottom: 5rem;
    font-size: 1.8rem; 
    font-weight: 700; 
}

@media (max-width: 1114px) {
    .donation-padding {
        padding: 1rem;
    }
    .donation-box {
        height: 17.5rem;
    }
    .form-item {
        margin-bottom: 3rem;
    }
}
@media (max-width: 766px) {
    .donation-amount-text{
        padding: 0;
    }
    .donation-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .donation-row {
        margin-bottom: 0.25rem;
    }
}
