input[type="radio"] { 
    margin-right: 1.625rem;
    height: 40px;
    width: 40px;
    vertical-align: middle;
}

.heading {
    margin-top: 6.625rem;
    padding-left: 3.375rem;
}

.donation-text {
    padding-left: 3.375rem;
    margin-top: 3.3125rem;
    font-weight: 400 !important; 
}

.donation-container {
    width: 100%;
    margin-top: 6.625rem;
    margin-left: 3.375rem;
}

.donation-row {
    justify-content: space-between;
}

.donation-small, .donation-large {
    box-sizing: border-box;
    border-radius: 1.5rem;
    margin: 0.5rem;
    background: #F2B705;
    text-align: center;
}

.donation-small {
    width: 24rem;
    height: 18rem;
}

.donation-large {
    width: 38.75rem;
    height: 18rem;
}

.donation-amount-text {
    margin-top: 5.8rem;
    margin-bottom: 1.5rem;
}

.donation-use-text {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.form-item {
    margin-bottom: 11.875rem;
}

.form-option {
    font-size: 1.5rem;
}

.donate-button {
    background: var(--darkred);
    justify-content: center;
    color: white;
    border-radius: 25px;
    width: 30rem;
    height: 8.25rem;
}