.footer-content{
    background-color: var(--darkred);
    width: 90rem; 
    height: 34.25rem;
    align-items: center;
    vertical-align: middle;
    padding-top: 6.94rem;
    padding-left: 2.375rem;
}
​
.vertical-line {
    border-left: 6px solid white;
    height: 500px;
    align: "center";
}