.lbutton {
    background-color: var(--gray); 
    height: 106px; 
    width: 284px; 
}

.wbutton {
    height: 45px; 
    width: 144px; 
    padding-top: 5px;
    text-align: center;
    background-color: rgb(202, 33, 33);
}

.ybutton {
    height: 70px; 
    width: 200px; 
    padding-top: 5px;
    text-align: center;
    background-color: darkorange;
}

.nbutton {
    height: 20%; 
    width: 25%; 
    padding-top: 5px;
    text-align: center;
    background-color: darkorange;
}


.title {
    width: 244px; 
    height: 77px;
    text-align: center; 
    display:table-cell;
    vertical-align: middle;
    font-family: Roboto;
}

.general_space { 
    padding-top: 25px; 
}

.down {
    padding-top: 150px;
}

.insert_space {
    margin-top: 60px; 
}

.space {
    padding-top: 100px;
}

.shift {
    padding-left: 80px;
}

.h_space { 
    padding-top: 50px;
}

.text {
    margin-bottom: 20px;
}

.container-content {
    background-color: var(--gray); 
    width: 1440px; 
    height: 508px;
    align-items: center;
    vertical-align: middle;
    padding-top: 300px;
}

.container-blue {
    background-color: rgb(0, 195, 255); 
    width: 1440px; 
    height: 870px;
    align-items: center;
    vertical-align: middle;
}

.container-light {
    background-color: rgb(0, 195, 255); 
    width: 1440px; 
    height: 691px;
    align-items: center;
    vertical-align: middle;
}

.word {
    text-align: left;
    display: flex;
    padding-bottom: 10px;
    font-style: normal;
}

.sub-title {
    padding-top: 80px;
    line-height: 65px;
    display: flex;
    width: 400px;
    height: 143px;
    left: 92px;
    top: 744px;
}

.ss-title {
    display: flex;
    width: 249px;
    height: 73px;
    align-items: center;
    font-weight: bold;
    font-size: 34px;
}

.container-small {
    background-color: var(--gray); 
    height: 312px;
    width: 312px;
}

.sub {
    padding-top: 50px;
    line-height: 65px;
    display: flex;
    width: 434px;
    height: 143px;
    left: 92px;
    top: 1633px;
}

.circle {
    width: 160px;
    height: 163px;
    background-color: var(--gray);
    border-radius: 50%;
    display: inline-block;
}

.box {
    width: 577px;
    height: 292px;
    background-color: var(--gray);
}

.rec {
    background-color: var(--gray); 
    width: 1440px; 
    height: 508px;
    align-items: center;
    vertical-align: middle;
    padding-top: 40px;
}

.my-div { 
    background-image: url(../images/main.png);  
    background-size: cover;            
    width: 100%;   
    padding-top: 45%;         
    -webkit-mask-image: -webkit-gradient(linear, left center, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));     
}

.space-text {
    margin-top: 50px;
}
