.smbutton {
  height: 3.625rem; 
  width: 9.6875rem;
  text-align: center;
  background-color: darkorange;
}

@media (max-width: 768px) {
  .smbutton {
      height: 2rem; 
      width: 6rem;
      margin-left: 1rem;
      margin-bottom: 1rem;
  }
}

.button-text{ 
  font-size: 18px;
  line-height: 21.09px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .button-text {
      font-size: 12px;
      line-height: 21.09px;
  }
}

.wbutton {
  height: 4.25rem; 
  width: 11.25rem; 
  padding-top: 0.3125rem;
  margin-left: 3rem;
  text-align: center;
  background-color: red;
}

@media (max-width: 768px) {
  .wbutton {
      margin-left: 2rem;
      height: 3rem; 
      width: 9rem; 
  }
}

.ybutton {
  height: 5.6875rem; 
  width: 15.125rem; 
  padding-top: 0.3125rem;
  margin-top: 12rem;
  background-color: darkorange;
}

@media (max-width: 768px) {
  .ybutton {
      margin-top: 7rem;
      height: 3rem; 
      width: 9rem; 
  }
}
.nbutton {
  height: 91px; 
  width: 242px; 
  padding-top: 0.3125rem;
  text-align: center;
  background-color: darkorange;
  margin-left: 100px;
}


@media (max-width: 768px) {
  .nbutton {
  width: 180px;
  height: 60px;
  margin-left: 1rem;
  }
}

.text {
  opacity: 1;
}

.optext {
  font-size: 56px;
  line-height: 1.5;
  font-weight: bold;
  padding-top: 1rem;
}

@media (max-width: 768px) {
  .optext {
      font-size: 40px;        /* fix the align for the text */
      line-height: 1.5;
      margin-left: 1rem;
  }
}

.ostext {
  font-size: 56px;
  line-height: 1.5;
  font-weight: bold;
  padding-top: 1rem;
  margin-left: 7rem;
}

@media (max-width: 768px) {
  .ostext {
      font-size: 40px;        
      line-height: 1.5;
      margin-left: 6rem;
  }
}

.pre-sub {
  font-size: 34px;
  line-height: 39.84px;
  font-weight: bold;
  padding-top: 2rem;
  text-align: left;
  padding-left: 7rem;
}

@media (max-width: 768px) {
  .pre-sub {
      font-size: 30px;
      line-height: 1.5;
      padding-top: 2rem;
      padding-left: 1rem;
  }
}

.pre-text {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  padding-top: 2rem;
  padding-left: 7rem;
}

@media (max-width: 768px) {
  .pre-text {
      padding-left: 1rem;
      line-height: 1.5;
  }
}

.word {
  font-size: 56px; 
  line-height: 1.5;
  font-weight: bold;
  margin-top: 3.75rem; 
}

@media (max-width: 768px) {
  .word {
      margin-top: 6rem;
      font-size: 40px;
      line-height: 60px;
  }
}

.phrase {
  font-size: 24px;
  line-height: 1.5;
  width: 665px;
  height: 168px;
  font-weight: 400;
  padding-top: 7rem;
}

@media (max-width: 768px) {
  .phrase {
      width: 100%;
      height: 50%;
      padding-right: 3rem;
      font-size: 18px;
      line-height: 1.5;
      padding-top: 0rem;
      margin-bottom: 1rem;
}
}

.ourtext{
  font-size: 24px;
  line-height: 28.13px;
  font-weight: 400;
  padding-bottom: 30px;
  margin-top: 30px;
  margin-left: 100px;
}

@media (max-width: 768px) {
  .ourtext {
      width: 100%;
      font-size: 18px;
      line-height: 1.5;
      padding-top: 0rem;
      margin-left: 0px;;
      padding-right: 1rem;
      padding-left: 1rem;
}
}

.container-content {
  background-color: var(--gray); 
  width: 90rem; 
  height: 31.75rem;
  align-items: center;
  vertical-align: middle;
  padding-top: 18.75rem;
}

.container-blue {
  background-color: rgb(0, 195, 255); 
  width: 90rem; 
  height: 54.375rem;
  margin-top: 2rem;
  align-items: center;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .container-blue {
      margin-top: 0rem;
      width: 100%;
      height: 50%;
  }   
}

.container-light {
  background-image: url(../images/team.png);  
  background-size: cover;            
  width: 90rem; 
  height: 43.1875rem;
  align-items: center;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .container-light{
  height: 30rem;
  }
}

.box {
  width: 614px;
  height: 460px; 
  background-image: url(../images/about.png);
  background-size: cover;
}

@media (max-width: 768px) {
  .box {
      width: 100%;
      height: 20rem;
  }   
}

.opbox {
  width: 31.8125rem;
  height: 21.1875rem;
  background-image: url(../images/school.png);
  background-size: cover;
}

@media (max-width: 768px) {
  .opbox {
      width: 22rem;
      height: 14rem;
  }   
}

.opkid {
  width: 31.8125rem;
  height: 21.1875rem;
  background-image: url(../images/kid.png);
  background-size: cover;
}

@media (max-width: 768px) {
  .opkid {
      width: 22rem;
      height: 14rem;
  }   
}

.osbox {
  background-image: url(../images/middle.png);  
  background-size: cover;    
  width: 34.375rem; 
  height: 23.04125rem;
  margin-left: 5rem;
}

@media (max-width: 768px) {
  .osbox{
  width: 100%;
  height: 20rem;
  margin-left: 0rem;
  }
}

.landing-image { 
  background-image: url(../images/main.png);  
  background-size: cover;            
  width: 100%;   
  padding-top: 45%;     
} 

.landing-overlay-image { 
  width: 100%;
  height: auto;
} 

.landing-overlay-text { 
  position: absolute; 
  width: 85%; 
  top: 55%; 
} 

@media (max-width: 1160px) { 
  .landing-overlay-text { 
    width: 95%;
  } 
} 

@media (min-width: 1023px) { 
  .small-overlay { 
    display: none; 
  } 
} 

@media (max-width: 1023px) { 
  .large-overlay { 
    display: none;
  } 
  .small-overlay { 
    display: block;
  } 
  .about-us-spacing { 
    padding-top: 2.5rem;
  } 
} 

.landing-overlay-button { 
  position: absolute; 
  left: 0%;
  top: 75%; 
} 

@media (max-width: 767.9px) {
  .lg-button-mobile { 
    width: 10.25rem;
    height: 4rem;
    font-size: 1.75rem;
    border-radius: 15px; 
  } 
}

.vocab {
  font-size: 34px;
  line-height: 39.84px;
  font-weight: 700;
}

.vocab-au {
  font-size: 34px;
  line-height: 39.84px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .vocab-au{
  font-size: 22px;
  line-height: 39.84px;
  }
}

.team {
  margin-top: -23rem; 
  margin-bottom: 10rem; 
  text-decoration: underline; 
  cursor: pointer;    
}

@media (max-width: 768px) {
  .team{
      margin-top: -19rem;
  }
}

.banner { 
  width: 100%; 
  height: 80px; 
  position: absolute; 
  top: 0%; 
  background-color: rgba(255,255,255,0.5); 
} 

.announcement-text { 
  font-weight: 700;
  margin-top: 1.35rem;
  text-decoration: underline; 
} 

@media (max-width: 1023px) {
  .banner {
    display: none;
  }   
} 

/* OMIDS NEW STYLING STARTS HERE */ 
.about-us-spacing { 
  padding-bottom: 2.5rem; 
} 

.about-us-title-spacing { 
  padding-bottom: 2rem; 
} 

.about-us-image { 
  width: 85%; 
  height: auto;
}

@media (max-width: 991.9px) { 
  .about-us-image { 
    width: 95%; 
    height: auto; 
  } 
} 

@media (max-width: 767.9px) { 
  .about-us-image { 
    width: 90%; 
    height: auto;
  } 
} 

.lg-button-font-sizing { 
  margin-top: 1rem;
  font-size: 1.35rem;
} 

@media (min-width: 768px) { 
  .about-us-text-width { 
    width: 85%; 
  }
} 

@media (max-width: 991.9px) { 
  .about-us-text-width { 
    margin: 1.5rem; 
  } 
} 

@media (max-width: 768px) { 
  .about-us-spacing { 
    padding-top: 3rem;
  }

  .lg-button-font-sizing { 
    font-size: 1.1rem;
  } 
} 

.blue-container { 
  background-color: var(--lightblue); 
} 

.our-programs-spacing { 
  padding-top: 2rem;
  padding-bottom: 1.5rem;
} 

.sub-title-padding { 
  font-weight: 700; 
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
} 

.program-image { 
  width: 100%;
  height: auto;
} 

.programs-button-spacing { 
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

@media (min-width: 768px) { 
  .left-shop-text-spacing { 
    height: 1px;
    width: 25%; 
  } 

  .program-container-padding { 
    width: 75%; 
  } 
} 

@media (max-width: 768px) { 
  .program-container-padding { 
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    /* margin: 1.5rem;  */
  }

  .programs-button-spacing { 
    margin-top: 0.5rem;
  } 
} 

.shop-spacing { 
  padding-top: 2rem; 
  padding-bottom: 2.5rem;
} 