.yellow-button {
  background-color: var(--lightyellow);
}

.navbar-title-text {
  color: var(--darkred);
  cursor: pointer;
}

.navbar-content {
  background-color: var(--lightblue);
  height: 80px;
  align-items: center;
  vertical-align: middle;
}

.text {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding-top: 25px;
}

.text:hover
{
  font-weight: bold;
  cursor:pointer;
}

.imgSpacing
{
  margin-top: 1rem; 
  margin-bottom:1rem;
  max-width: 164px;
  max-height: 111px;
}

.buttonSpacing:hover
{
  cursor:pointer;
}

.buttonSpacing
{
  margin-top: 1rem;
  margin-right: 1rem; 
}

.checkOutButton
{
  margin-top: 1rem; 
  margin-right: 3rem; 
  margin-left: 1rem; 
  background: #F2B705;
}