.page-container { 
    margin: 2.5rem; 
} 

@media (max-width: 768px) {
    .page-container { 
        margin: 1.5rem; 
    } 
}

.top-page-container { 
    background-image: url(../images/our_team_top_hand.png); 
    background-repeat: no-repeat; 
    background-size: 40%; 
} 

.bottom-page-container { 
    background-image: url(../images/our_team_bottom_hand.png); 
    background-repeat: no-repeat; 
    background-size: 35%; 
    background-position: right bottom; 
} 

.page-container h3 { 
    font-weight: 400 !important; 
    font-size: 22px !important; 
} 

.page-container p { 
    font-size: 22px !important; 
} 

.person { 
    margin-top: 1.5rem;
}