.container-padding { 
  margin-left: 2.5rem;
  margin-right: 2.5rem;
} 

.side-info {
  margin-bottom: 2rem;
}
.side-info h2 {
  margin: 1rem 0 2rem 0;
}
.side-info h3 {
  font-weight: 400;
}
#programs-wrapper li {
  font-size: 1.25rem;
}

.img-container { 
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.left-img-container { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img { 
  width: 80%;
  height: auto;
} 

.img-section {
  margin: 5rem 0;
}

@media(max-width: 991.9px) { 
  .img-container { 
    display: none;
  }
} 

@media (max-width: 767.9px) {
  .container-padding { 
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  } 
  .full-width-image {
    width: 100%;
    opacity: 1;
  }
  .overlay-text {
    position: relative;
    padding: 0;
    background-color: white;
  }
}
@media (min-width: 767.9px) {
  .full-width-image {
    width: 100%;
    opacity: 0.4;
  }
  .overlay-text {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    background-color: none;
  }
}

.crop-img {
  background-size: cover;
  padding-top: 50%;
}
@media (max-width: 767.9px) {
  .crop-img {
    background-size: cover;
    padding-top: 80%;
  }
}

.bottom-info {
  display: flex;
  justify-content: center;
}
.bottom-info p {
  padding: 7rem 0;
  width: 80%;
  color: var(--darkred);
  font-style: italic;
  text-align: center;
}

@media (min-width: 768px) { 
  .mobile-container-padding { 
    padding-left: 0;
    padding-right: 0;
  } 
  .mobile-infoblurb { 
    margin-top: 0; 
    font-size: 1.75rem !important;
    font-weight: 700 !important; 
  } 
} 

@media (max-width: 767.9px) { 
  .mobile-container-padding { 
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  } 

  .mobile-infoblurb { 
    margin-top: 2rem;
    font-size: 22px !important; 
    font-weight: 400 !important; 
  } 
} 