.container-padding { 
  margin-left: 2.5rem;
  margin-right: 2.5rem;
} 

.side-info {
  margin-bottom: 2rem;
}
.side-info h2 {
  margin: 1rem 0 2rem 0;
}
.side-info h3 {
  font-weight: 400;
}
#programs-wrapper li {
  font-size: 1.25rem;
}

.img-container { 
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about-img { 
  width: 80%;
  height: auto;
} 

.img-section {
  margin: 5rem 0;
}
@media (max-width: 767.9px) {
  .img-container { 
    display: none;
  }
  .container-padding { 
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  } 
  .full-width-image {
    width: 100%;
    opacity: 1;
  }
  .overlay-text {
    background-color: var(--lightblue);
    padding: 1rem;
  }
}
@media (min-width: 767.9px) {
  .full-width-image {
    width: 100%;
    opacity: 0.4;
  }
  .overlay-text {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    background-color: none;
  }
}

.crop-img {
  background-size: cover;
  padding-top: 50%;
}
@media (max-width: 767.9px) {
  .crop-img {
    background-size: cover;
    padding-top: 80%;
  }
}

.bottom-info {
  display: flex;
  justify-content: center;
}
.bottom-info p {
  padding: 7rem 0;
  width: 80%;
  color: var(--darkred);
  font-style: italic;
  text-align: center;
}