h1 {
  font-weight: 700 !important;
}

/*This is the first big highlight image*/

.left-space {
  border: 2px solid red;
  width: auto;
  margin: 3.5rem;
}

.upcoming-events-text {
  margin-top: 4.375rem;
}

.description-text {
  font-weight: 400 !important;
  margin-top: 2.19rem;
}
.banner_image {
  width: 83rem;
  height: 43.75rem;
  margin-top: 20.44rem; /* 327px/16 */
  filter: drop-shadow(0px 4px 4px rgba(7, 30, 53, 0.25));
}

.event_sign_up_button {
  /*change to rem */
  width: 1330px;
  height: 143px;
  left: 56px;
  top: 1212px;
  color: var(--darkred);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.event-tile-banner-space {
  margin-top: 5.375rem; /* 86px/16 */
}

.event-tile-container {
  justify-content: space-between;
  /* margin-right: 3.375rem; */
}
.event_tile {
  width: 25.75rem;
  height: 16.93rem;
  background-color: var(--gray);
}
.event_tile_text {
  position: relative;
  left: 20.84px;
  bottom: 205.83px;
}
.event_tile_banner {
  width: 25.75rem;
  height: 16.0675rem; /*257.08px/16 */
  background-color: var(--darkyellow);
  filter: drop-shadow(0px 4px 4px rgba(7, 30, 53, 0.25));
}

.sign-up-tile {
  width: 39.875rem;
  height: 18.054rem;
  background-color: var(--gray);
  filter: drop-shadow(0px 4px 4px rgba(7, 30, 53, 0.25));
}
.sign-up-banner {
  width: 39.875rem;
  height: 10.8rem;
  background-color: var(--darkyellow);
  filter: drop-shadow(0px 4px 4px rgba(7, 30, 53, 0.25));
}
.sign-up-text {
  position: relative;
  left: 32.17px;
  bottom: 150.79px;
}
.sign-up-button {
  position: relative !important;
  bottom: 91px; /*idk if this is the right way to do it but it works*/
  border: none !important;
  margin: none !important;
  height: 6.25rem;
  width: 39.88rem;
  background-color: var(--darkred);
  font-size: 34px;
  font-weight: 700;
  text-decoration: underline;
  color: white;
}
.volunteering-opportunities-text {
  margin-top: 5.44rem;
}

.calendar {
  width: 35rem;
  height: 35.1875rem;
  background-color: var(--darkred);
}

.form-title {
  margin-top: 10.75rem;
}

.name-top-space {
  margin-top: 8.25rem;
}

.field-column-padding {
  margin-left: 2rem !important;
}

.first-name-box {
  width: 20.125rem !important;
}
.last-name-box {
  width: 24.125rem !important;
}
.last-name-label {
  margin-top: 16px;
}
.area-code-box {
  width: 132px !important;
}
.phone-number-box {
  width: 19.88rem !important;
}
.email-box {
  width: 45.44rem !important;
}
.first-name-box,
.last-name-box,
.area-code-box,
.phone-number-box,
.email-box {
  height: 5rem !important;
}
.dash {
  font-size: 56px;
}
.wtf {
  margin-bottom: 11px;
}

.ageSection {
  margin-top: 9.94rem;
}

.genderSection {
  margin-top: 7.19rem;
}

.phoneSection {
  margin-top: 5.06rem;
}

.emailSection {
  margin-top: 9.94rem;
}

.concernsSection {
  margin-top: 8.75rem;
}
.concernBox {
  width: 45.44rem !important;
  height: 23.94rem !important;
}

.gender-label {
  font-size: 1.5rem;
  margin-left: 20px;
}

.label-text {
  font-size: 1.5rem !important;
  margin-top: 16px !important;
}

input[type="radio"] {
  background-color: rgba(196, 196, 196, 0.5);
  /* border-radius: 20px; */
  /* border: none; */
  width: 40px;
  height: 40px;
  align-content: left;
}
