.container-fluid{
   padding: 0 !important;
}
h1 {
  font-weight: 700 !important;
}

/*This is the first big highlight image*/

.left-space {
  width: auto;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

@media (max-width: 768px) { 
  .left-space { 
    margin: 0.5rem;
  }
}

.upcoming-events-text {
  margin-top: 2.5rem;
}

.description-text {
  font-weight: 400 !important;
  /* margin-top: 2rem; */
}
.banner_image {
  /* width: 83rem;
  height: 43.75rem; */
  width: 100%;
  height: auto;
  margin-top: 2rem; /* 327px/16 */
  filter: drop-shadow(0px 4px 4px rgba(7, 30, 53, 0.25));
}

.event-image { 
  width: 85%;
  background-size: cover;
  padding-top: 50%;
}

.event_sign_up_button {
  /*change to rem */
  width: 1330px;
  height: 143px;
  left: 56px;
  top: 1212px;
  color: var(--darkred);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.event-tile-banner-space {
  margin-top: 2rem; /* 86px/16 */
}

.event-tile-container { 
  filter: drop-shadow(0px 4px 4px rgba(7, 30, 53, 0.25));
} 

.event_tile {
  width: 85%; /* 24.75rem */
  height: auto; /*16.93rem*/
  background-color: var(--gray);
}
.event_tile_text {
  position: relative; 
  left: 20.84px;
  bottom: 154.37px;
}
.event_tile_banner {
  width: 85%; /*25.75rem*/ 
  height: 10rem; /*16.0675rem*/ 
  background-color: var(--darkyellow);
}

.event_tile_banner h3 { 
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: 1.75rem !important;
  font-weight: 700 !important;
}

.event_tile_banner p{
  padding-left: 1rem;
}

.volunteer-event-tile { 
  filter: drop-shadow(0px 4px 4px rgba(7, 30, 53, 0.25));
} 

.sign-up-tile {
  width: 80%;
  height: auto;
  background-color: var(--gray);
  filter: drop-shadow(0px 4px 4px rgba(7, 30, 53, 0.25));
}
.sign-up-banner {
  width: 80%;
  height: 8rem;
  background-color: var(--darkyellow);
}

.sign-up-banner-h3 {
  padding-top: 1rem;
  padding-left: 1rem;
}

.sign-up-banner-p {
  padding-left: 1rem;
}

.sign-up-button, .top-sign-up-button {
  cursor: pointer;
  width: 80%;
  height: 3.5rem;
  background-color: var(--darkred);
  font-size: 1.5rem;
  padding-top: 0.5rem;
  font-weight: 700;
  text-decoration: underline;
  color: white;
}

.top-sign-up-button { 
  width: 85%; 
} 

.volunteering-opportunities-text {
  margin-top: 2rem; 
}

.calendar {
  width: 85%;
  height: 26rem;
  background-color: var(--darkred);
}

.form-title {
  margin-top: 2rem;
}

.name-top-space {
  margin-top: 2rem;
}

.field-column-padding {
  margin-left: 2rem !important;
}

@media (max-width: 768px) { 
  .field-column-padding { 
    margin-left: 0rem !important; 
  }
}

.first-name-box {
  width: 100% !important;
}
.last-name-box {
  width: 100% !important;
}
.last-name-label {
  margin-top: 16px;
}
.area-code-box {
  width: 100% !important;
}
.phone-number-box {
  width: 100% !important;
}
.email-box {
  width: 100% !important;
}
.first-name-box,
.last-name-box,
.area-code-box,
.phone-number-box,
.email-box {
  height: 3rem !important;
}
.dash {
  font-size: 56px;
}

/* originally 5rem for the next 5 classes */
.ageSection {
  margin-top: 1.5rem;
}

.genderSection {
  margin-top: 1.5rem;
}

.phoneSection {
  margin-top: 1.5rem;
}

.emailSection {
  margin-top: 1.5rem;
}

.concernsSection {
  margin-top: 1.5rem;
}

.concernBox {
  width: 100%;
  height: 10rem !important; 
}

.gender-label {
  font-size: 1rem;
}
.submitButton{
  background-color: var(--darkred) !important;
  width: 25% !important;
  /* height: 7.01rem !important; */
  border-radius: 15px;
  border-width: 0px;
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
  font-size: 2.4rem;
  padding: 15px !important;
  color: white;

}
.submit-button-container {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 768px) { 
  .submitButton{
    font-size: 1.5rem;
    width: 50% !important;
    
  }
}

.label-text {
  font-size: 1rem !important;
  margin-top: 8px !important;
}

.Date-Picker{
 width: 85% !important;
}
.calendar-mobile-vertical{
margin-top: 3rem;
}

input[type="radio"] {
  background-color: rgba(196, 196, 196, 0.5);
  /* border-radius: 20px; */
  /* border: none; */
  width: 40px;
  height: 40px;
  margin-right: 0.5rem !important;
  align-content: left;
} 